apiVersion: kargo.akuity.io/v1alpha1
kind: Warehouse
metadata:
  name: my-warehouse
  namespace: kargo-demo
spec:
  # Intentionally setting a really high internal interval to avoid
  # conflating warehouse refreshes triggered by the webhooks
  # with regular reconciliation refreshes. Same thing for disabling strict semver.
  interval: 30m
  subscriptions:
  # github
  - git:
      repoURL: https://github.com/fuskovic/wh-test-repo.git
      branch: main
      strictSemvers: false
  # gitlab
  # - git:
  #     repoURL: https://gitlab.com/faris.huskovic/webhook-poc.git
  #     branch: main
  #     strictSemvers: false
  # - image:
  #     repoURL: quay.io/faris_huskovic/webhook-poc
  #     semverConstraint: ^1.26.0